<%= form_for(@link) do |f| %>

    <div class="BoxedDiv">

      <div>
        <%= f.label :original_link, "Enter the link to shorten.", class:"LabelText" %><br>
        <%= f.text_field :original_link , class:"FormInput" %>
      </div>

      <div>
        <%= f.submit "Shortify it!", class: "SubmitButton" %>
      </div>

    </div>

<% end %>
