<div id="HeaderDiv">

  <div class="HeaderMenuItem" id="MenuLogo"></div>

  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuContactos">
      Contactos
    </div>
  </a>

  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuEmpresas">
      Empresas
    </div>
  </a>


  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuAbout">
      About
    </div>
  </a>

</div>