<div id="HeaderDiv">

  <div class="HeaderMenuItem" id="MenuLogo"></div>

  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuShorten">
      Shorten Link
    </div>
  </a>

  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuStatistics">
      Statistics
    </div>
  </a>


  <a class="HeaderItemDecoration" href="<%= %>">
    <div class="HeaderMenuItem" id="MenuAbout">
      About
    </div>
  </a>

</div>