<div id="DivTitle">
  <h1>Shortify your links!</h1>
</div>

<%= render 'form' %>

<!--Incase current user has Links up, display the Link listing. -->
<% if @author_links.count > 0 %>

    <%= render 'linkListing' %>

<% end %>