<p id="notice"><%= notice %></p>

<p>
  <strong>Original link:</strong>
  <%= @link.original_link %>
</p>

<p>
  <strong>Shortened link:</strong>
  <%= root_url + @link.shortened_link %>
</p>

<p>
  <strong>Click count:</strong>
  <%= @link.click_count %>
</p>
