<p>
  <strong>Original link:</strong>
  <a href="<%= @link.original_link %>">
    <%= @link.original_link %>
  </a>
</p>

<p>
  <strong>Shortened link:</strong>
  <a href="<%= root_url + @link.shortened_link %>">
    <%= root_url + @link.shortened_link %>
  </a>
</p>
