<div id="HeaderDiv">

  <div class="HeaderMenuItem" id="MenuLogo"></div>

  <a class="HeaderItemDecoration" href="<%= links_new_path %>">
    <div class="HeaderMenuItem" id="MenuShorten">
      Shorten Link
    </div>
  </a>

  <a class="HeaderItemDecoration" href="<%= links_path %>">
    <div class="HeaderMenuItem" id="MenuStatistics">
      Statistics
    </div>
  </a>

  <!--TODO: ADD LINK TO OWN LINKS-->
  <a class="HeaderItemDecoration" href="<%= root_url + "ownLinks" %>">
    <div class="HeaderMenuItem" id="MenuSelf">
      Own Links
    </div>
  </a>

</div>